@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html{
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  border-left: 20px solid #EBF0F9;
  border-right: 20px solid #EBF0F9;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before, body:after {
  content: "";
  position: fixed;
  background: #EBF0F9;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 9;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}

hr.thick {
  height: 2px;
  border-top: none;
  border-bottom: 7px solid black;
  transform: scaleY(0.33);
  display: inline-block;
  width: 8%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-top: 40px;
}

h1, h2, h3 {
  font-family: 'Bree Serif', serif;
  color: #505050;
}

h4, h5, h6, h7, h8, p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-size: 2.5rem;
}

p, li {
  color: #505050;
}

p.details {
  color: #737373;
}


h1.name-title {
  font-size: 16px;
}

.heading-title {
  width: 75%;
}

.caption {
  color: #737373;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.no-list-style {
  list-style: none
}

.work {
  font-size: 16px;
  color: #737373;
  margin-top: 1rem;
}

.work-list {
  padding-left: 0;
  font-size: 20px;
}

.work-link {
  list-style: none;
}

.work-link a {
  color:#323232
}

.dropdown-toggle::after {
  display: none
}

.nav-drop-item a {
  color: #323232;
  font-size: 14px;
}

.section-block {
  margin-top: 1.5rem
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent
}